# Ignore Visual Studio folders
.vs/
*.user
*.suo

# Ignore compiled files
__pycache__/
*.pkl
*.pyc

# Ignore temporary files
*.csv
predictions_*.csv

# Ignore all daily prediction files
predictions_*.csv

# Allow one "live" prediction file
!predictions_latest.csv

# But allow latest and archived folder
!predictions_latest.csv
!/predictions/
